In [28]:
import json
import pandas as pd

In [29]:
df_0 = pd.read_json("training_data_0.json") # player2 = quincy
df_1 = pd.read_json("training_data_1.json") # player2 = abbey
df_2 = pd.read_json("training_data_2.json") # player2 = kris
df_3 = pd.read_json("training_data_3.json") # player2 = mrugesh
df_0.shape

(100, 3)

In [30]:
# concatenate the data from all 4 players
df = pd.concat([df_0, df_1, df_2, df_3], axis=0).reset_index(drop=True)

In [31]:
df

                      player1_moves                   player2_moves  player2
0    [2, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
1    [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
2    [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
3    [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
4    [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
..                              ...                             ...      ...
395  [1, 1, 0, 0, 0, 0, 0, 0, 0, 2]  [0, 2, 2, 2, 2, 2, 2, 2, 1, 1]        3
396  [2, 2, 2, 2, 2, 1, 1, 1, 1, 1]  [1, 1, 1, 1, 0, 0, 0, 0, 0, 0]        3
397  [1, 0, 0, 0, 0, 0, 0, 0, 2, 2]  [2, 2, 2, 2, 2, 2, 2, 1, 1, 1]        3
398  [2, 2, 2, 2, 1, 1, 1, 1, 1, 1]  [1, 1, 1, 0, 0, 0, 0, 0, 0, 2]        3
399  [0, 0, 0, 0, 0, 0, 0, 2, 2, 2]  [2, 2, 2, 2, 2, 2, 1, 1, 1, 1]        3

[400 rows x 3 columns]