In [341]:
import json
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from joblib import dump, load

In [330]:
df_0 = pd.read_json("training_data_0.json",dtype={'player1_moves': str, 'player2_moves': str}) # player2 = quincy
df_1 = pd.read_json("training_data_1.json",dtype={'player1_moves': str, 'player2_moves': str}) # player2 = abbey
df_2 = pd.read_json("training_data_2.json",dtype={'player1_moves': str, 'player2_moves': str}) # player2 = kris
df_3 = pd.read_json("training_data_3.json",dtype={'player1_moves': str, 'player2_moves': str}) # player2 = mrugesh

In [331]:
# concatenate the data from all 4 players
df = pd.concat([df_0, df_1, df_2, df_3], axis=0).reset_index(drop=True)

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   player1_moves  100000 non-null  object
 1   player2_moves  100000 non-null  object
 2   player2        100000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [333]:
df

              player1_moves         player2_moves  player2
0      21220112201122011220  01120011200112001120        0
1      11220112201122011220  01120011200112001120        0
2      11220112201122011220  01120011200112001120        0
3      11220112201122011220  01120011200112001120        0
4      11220112201122011220  01120011200112001120        0
...                     ...                   ...      ...
99995  00000002222222111111  22222211111110000002        3
99996  00000002222222111111  22222211111110000002        3
99997  00000002222222111111  22222211111110000002        3
99998  00000002222222111111  22222211111110000002        3
99999  00000002222222111111  22222211111110000002        3

[100000 rows x 3 columns]

In [334]:
# split the dataframe into training and testing datasets
X = df[['player1_moves','player2_moves']]
y = df['player2']

In [335]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [336]:
# Define the neural network model
# model = MLPClassifier(hidden_layer_sizes=(64,32), activation='relu', solver='adam', random_state=42) # 74.95% accurate
# model = MLPClassifier(hidden_layer_sizes=(64,32), activation='tanh', solver='sgd', random_state=42) # 66.43% accurate
# model = MLPClassifier(hidden_layer_sizes=(10,), activation='relu', solver='adam', random_state=42) # 75.02% accurate
model = MLPClassifier(hidden_layer_sizes=(26,), activation='relu', solver='adam', random_state=42) # 75.215% accurate

# Train the model
model.fit(X_train, y_train)

MLPClassifier(hidden_layer_sizes=(26,), random_state=42)

In [342]:
# Save the model to disk
dump(model, 'model.joblib')

['model.joblib']

In [337]:
# Evaluate the model on the testing set using score() method
model.score(X_test, y_test)

0.75065

In [338]:
# Now to determine the identity of a player based on their moves:
X_pred_data = {'player1_moves' : ["11220112201122011220"], 'player2_moves' : ["01120011200112001120"]}
X_pred = pd.DataFrame(X_pred_data)
X_pred

          player1_moves         player2_moves
0  11220112201122011220  01120011200112001120

In [339]:
y_pred = model.predict(X_pred)
list(y_pred)[0]

0

In [340]:
X_pred['player1_moves']="10000002222222111111"
X_pred['player2_moves']="22222211111110000000"
y_pred = model.predict(X_pred)
list(y_pred)[0]

2