In [1]:
import json
import pandas as pd

In [2]:
df = pd.read_json("training_data_0.json")

In [3]:
df

                    player1_moves                   player2_moves  player2
0  [2, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
1  [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
2  [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
3  [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0
4  [1, 1, 2, 2, 0, 1, 1, 2, 2, 0]  [0, 1, 1, 2, 0, 0, 1, 1, 2, 0]        0